In [3]:
import pandas as pd         #프로그램 안깔려있을때 : %pip install (프로그램명)[pandas]

In [12]:
import pandas as pd   #딕셔너리와 비슷하지만 인덱스 값 중복가능
growth = pd.Series([143,150,157,160], index = ["2018","2019","2020","2021"])
growth

2018    143
2019    150
2020    157
2021    160
dtype: int64

In [14]:
growth["2018"]

143

In [39]:
growth = pd.Series([143,150,157,160],name="신참")   #인덱스 없으면 리스트 처럼 출력
growth

0    143
1    150
2    157
3    160
Name: 신참, dtype: int64

In [23]:
index = ["2018","2019","2020","2021"]
Y= pd.Series([143,150,157,160],index=index)
C =pd.Series([165,172,175,180],index=index)
growth =pd.DataFrame({
    "영희" : Y,
    "철수" : C 
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [35]:
index = ["2018","2019","2020","2021"]
data={
    "영희" : [143,150,157,160],
    "철수" : [165,172,175,180] 
}
growth = pd.DataFrame(data,index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [34]:
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [32]:
growth.astype('float')      #특정 타입으로 바꾸기

         영희     철수
2018  143.0  165.0
2019  150.0  172.0
2020  157.0  175.0
2021  160.0  180.0

In [36]:
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [44]:
#growth.astype({"영희":"float"}) #지정된 값만 특정타입으로 변경

In [43]:
growth.to_csv("output.scv") #데이터 프레임 csv 파일로 저장