In [46]:
import pandas as pd         #프로그램 안깔려있을때 : %pip install (프로그램명)[pandas]

In [47]:
import pandas as pd   #딕셔너리와 비슷하지만 인덱스 값 중복가능
growth = pd.Series([143,150,157,160], index = ["2018","2019","2020","2021"])
growth

2018    143
2019    150
2020    157
2021    160
dtype: int64

In [48]:
growth["2018"]

143

In [49]:
growth = pd.Series([143,150,157,160],name="신참")   #인덱스 없으면 리스트 처럼 출력
growth

0    143
1    150
2    157
3    160
Name: 신참, dtype: int64

In [107]:
index = ["2018","2019","2020","2021"]
Y= pd.Series([143,150,157,160],index=index)
C =pd.Series([165,172,175,180],index=index)
growth =pd.DataFrame({
    "영희" : Y,
    "철수" : C 
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [51]:
index = ["2018","2019","2020","2021"]
data={
    "영희" : [143,150,157,160],
    "철수" : [165,172,175,180] 
}
growth = pd.DataFrame(data,index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [52]:
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [53]:
growth.astype('float')      #특정 타입으로 바꾸기

         영희     철수
2018  143.0  165.0
2019  150.0  172.0
2020  157.0  175.0
2021  160.0  180.0

In [54]:
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [64]:
growth.영희
growth["영희"]

C:\Users\gksdydcks\AppData\Local\Temp\ipykernel_16012\202500995.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  growth.영희[0]
C:\Users\gksdydcks\AppData\Local\Temp\ipykernel_16012\202500995.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  growth["영희"][0]

143

In [73]:
growth["영희"][1]

C:\Users\gksdydcks\AppData\Local\Temp\ipykernel_16012\2614315338.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  growth["영희"][1]

150

In [98]:
growth.iloc[0]  #첫번째 행 출력     #0번째 열 =[:, 0]

영희    143
철수    165
Name: 2018, dtype: int64

In [106]:
growth.iloc[-2:, -2:] #슬라이싱 가능/ 두번째 행까지 첫번째 열

       영희   철수
2020  157  175
2021  160  180

In [112]:
growth.loc["2021", "영희"]  #.loc = 원하는 값 출력

160

In [113]:
growth.loc[:, "영희"]   #[행::, 열::]

2018    143
2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [122]:
growth.loc[["2018","2019"], ["영희","철수"]]    #iloc 보다 좀 더 직관적

       영희   철수
2018  143  165
2019  150  172

In [139]:
growth.loc["2018":"2020"]       #loc 슬라이싱은 맨뒤까지 포함 가능

       영희   철수
2018  143  165
2019  150  172
2020  157  175

In [134]:
growth.iloc[[0,1], [0,1]]

       영희   철수
2018  143  165
2019  150  172

In [55]:
#growth.astype({"영희":"float"}) #지정된 값만 특정타입으로 변경

In [57]:
growth.to_csv("output.csv") #방법1 데이터 프레임을 csv 파일로 저장
pd.DataFrame.to_csv(growth, "output2.csv") #방법2

In [142]:
growth.set_index("철수")   #(영희)특정 컬럼을 인덱스로 사용

      영희
철수
165  143
172  150
175  157
180  160

In [147]:
growth.loc[growth.영희>157] ##조사식#영희가 150 이상일때 출력

       영희   철수
2021  160  180

In [146]:
growth.loc[growth.영희>157].영희       #영희만 출력

2021    160
Name: 영희, dtype: int64

In [148]:
#행열 바꿀땐 index값 data값 바꾸기

In [154]:
index = ["영희","철수","영철"]
data={
    "2018" : [143,165,170],
    "2019" : [150,172,177,],
    "2020" : [157,177,180] 
}
growth = pd.DataFrame(data,index=index)
growth

    2018  2019  2020
영희   143   150   157
철수   165   172   177
영철   170   177   180

In [157]:
growth["2019"] = 190

In [164]:
growth["거꾸로"] = range(len(growth),0,-1)
print(growth)

    2018  2019  2020  2021  거꾸로
영희   143   190   157   200    3
철수   165   190   177   200    2
영철   170   190   180   200    1

In [161]:
print(growth)

    2018  2019  2020  2021
영희   143   190   157   200
철수   165   190   177   200
영철   170   190   180   200

In [165]:
df = ["country","province","region_1","region_2"]
index=[0,1,10,100]
pd.DataFrame(df,index)

            0
0     country
1    province
10   region_1
100  region_2